# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Tic Tac Toe JFrame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
